//Colors

$pale-blue: #DDDBFF;
$grayish-blue: #848794;
$dark-blue: #1D2C67;
$very-dark-blue: #0C122C;
$white: #FFFFFF;
$black: #000000;

//responsive mobile width variable

$mobile-width: 900px;
